*.out
*.dSYM
/1f_Java_UPR_Lynda/Binary/nbproject/private/
/1f_Java_UPR_Lynda/Binary/build/
/1f_Java_UPR_Lynda/Binary/dist/
/1f_Java_UPR_Lynda/CalculateShipping/nbproject/private/
/1f_Java_UPR_Lynda/CustomerNames/nbproject/private/
/1f_Java_UPR_Lynda/DataConversion/nbproject/private/