*.out
*.dSYM
/1f_Java_UPR_Lynda/Binary/nbproject/private/
/1f_Java_UPR_Lynda/Binary/build/
/1f_Java_UPR_Lynda/Binary/dist/
/1f_Java_UPR_Lynda/CalculateShipping/nbproject/private/
/1f_Java_UPR_Lynda/CustomerNames/nbproject/private/
/1f_Java_UPR_Lynda/DataConversion/nbproject/private/
/1f_Java_UPR_Lynda/Debugging/nbproject/private/
/1f_Java_UPR_Lynda/ErrorHandling/nbproject/private/
/1f_Java_UPR_Lynda/FortuneTeller/nbproject/private/
/1f_Java_UPR_Lynda/Groceries/nbproject/private/
/1f_Java_UPR_Lynda/Heights/nbproject/private/
/1f_Java_UPR_Lynda/HospitalStay/nbproject/private/
/1f_Java_UPR_Lynda/InsertionSort/nbproject/private/
/1f_Java_UPR_Lynda/ManuItems/nbproject/private/
/1f_Java_UPR_Lynda/MealPlan/nbproject/private/
/1f_Java_UPR_Lynda/MovieList/nbproject/private/
/1f_Java_UPR_Lynda/Overloading/nbproject/private/
/1f_Java_UPR_Lynda/Prices/nbproject/private/
/1f_Java_UPR_Lynda/RandomNumbers/nbproject/private/
/1f_Java_UPR_Lynda/RealEstateListings/nbproject/private/
/1f_Java_UPR_Lynda/Recursion/nbproject/private/
/1f_Java_UPR_Lynda/SelectionSort/nbproject/private/
/1f_Java_UPR_Lynda/SurfaceArea/nbproject/private/
/1f_Java_UPR_Lynda/TravelCosts/nbproject/private/