<h1>Hello world from hello!</h1>

<%= 1 + 1 %><br />

<% target = "world" %>
<%= "Hello #{target}" %>

<br />

<% @array.each do |n| %>
  <%= n %><br />
<% end %>

<br />

<%= link_to('Index page', {:action => 'index'}) %><br />
